.home-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    color: #D8D8D8;
    background-color: #222222;
}

.izquierdo{
    background-color: #333333;
    width: 50%;
}

.derecho{
    background-color: #444444;
    width: 50%;
    position: fixed;
    right: 0px;
}